<ul>
  <li><h3>QB</h3>
      <h4>{{fdr.lineup.qb}}</h4>
  </li>
  <li><h3>RB1</h3>
      <h4>{{fdr.lineup.rb}}</h4>
  </li>
  <li><h3>RB2</h3>
      <h4>{{fdr.lineup.rb2}}</h4>
  </li>
  <li><h3>WR1</h3>
      <h4>{{fdr.lineup.wr}}</h4>
  </li>
  <li><h3>WR2</h3>
      <h4>{{fdr.lineup.wr2}}</h4>
  </li>
  <li><h3>WR3</h3>
      <h4>{{fdr.lineup.wr3}}</h4>
  </li>
  <li><h3>TE</h3>
      <h4>{{fdr.lineup.te}}</h4>
  </li>
  <li><h3>DEF</h3>
      <h4>{{fdr.lineup.def}}</h4>
  </li>
  <li><h3>K</h3>
      <h4>{{fdr.lineup.kick}}</h4>
  </li>
</ul>
